<%- include('./partials/header') %>

<div class="kobe">

<iframe width="500" height="500" src="https://www.youtube.com/embed/leFVCYaTDvE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div id="soccer">

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ryDm7UcPtEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

</div>




<%- include('./partials/footer') %>