<%- include('./partials/header') %>

<div class="kobe">

<iframe width="400" height="400" src="https://www.youtube.com/embed/leFVCYaTDvE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class="homeScroll">

<iframe width="320" height="315" src="https://www.youtube.com/embed/8SZX4wmV1jU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="320" height="315" src="https://www.youtube.com/embed/jxlygT8QMGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="320" height="315" src="https://www.youtube.com/embed/Isyr2NNKlp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="320" height="315" src="https://www.youtube.com/embed/sLTvQnjEkRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="320" height="315" src="https://www.youtube.com/embed/XiH7aiPRwkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="320" height="315" src="https://www.youtube.com/embed/CcpU5xFHwaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div id="soccer">

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ryDm7UcPtEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

</div>




<%- include('./partials/footer') %>