body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: row, column;
}

a {
  color: #00B7FF;
}

#Clips {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
}