a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: row, column;
  margin: 0;
  height: 100vh;
  /* background-color: darkgray; */
  background-image: url('https://w.wallha.com/ws/6/T0HExfnY.jpg');
  background-size: cover;
  /* background-color: black; */

  /* background-image: linear-gradient(to top, #000000, #FF0021, #FFFFFF); */
}

#Clips {
  color: white;
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  font-family: Verdana;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 3px 5px 2px black;

}

img {
  width: 14px;
  
}

nav {
  display: flex;
  background-color: #ff0b2c;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  color: white;
  padding: 5px;
}

nav > a:hover {
  color: gray;
}

.kobe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#soccer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 100px;
  top: 50px;
}

#logo {
  width: 30px;
  position: absolute;
  left: 210px;
	line-height: 150px;
	color: #000;
	text-align: center;
} 

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

.bounce { 
  animation-name: bounce; 
}

#funny {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* height: 1200px; */
}

/* #next {
  height: 150px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 60px;
  border: 0px;
  opacity: 50%;
  
} */

/* iframe {
  width: 400px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
} */

.funnyClips {
  display: flex;
  flex-direction: row-reverse;
  overflow: scroll;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

#submitBtn {
  border-radius: 15px;
  border: 3px solid black;
  position: relative;
  border: 4px red;
  display: flex;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

#submitBtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #d22010;
} 

.paste {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
}

.ySubmit {
  justify-content: center;
  display: flex;
  align-items: center;
}