/* *{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
} */

/* body{
  background-color: black;
} */

/* .wrapper{
  width: 90%;
  margin: 0 auto;
}

.container {
  background-color: red;
  float: right;
  height: 25px;
  width: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menuLogo{
  height: 3px;
  width: 30px;
  background-color: snow;
}

.menu{
  width: 50%;
  height: 100vh;
  background-color: blue;
  padding: 50px;
  transform: translateX(0px);

}

.menu li{
  list-style-type: none;
  border-bottom: 1px solid blue;
  padding: 30px 0;
  text-align: center;
}
.menu li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: font-weight 0.2s;
}

.menu li:last-child{
  border-bottom: none;
}
.menu li:first-child a{
  font-weight: bold;
}

.menu li a:hover{
  font-weight: bold;
} */



a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: row, column;
  margin: 0;
  height: 100vh;
  background-image: url('https://w.wallha.com/ws/13/sk5tVlfZ.jpg');
  background-size: cover;
  /* background-color: black; */
}

#Clips {
  color: white;
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  font-family: Verdana;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 3px 5px 2px black;

}

img {
  width: 14px;
  
}

nav {
  display: flex;
  background-color: #ff0b2c;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  color: white;
  padding: 5px;
}

nav > a:hover {
  color: gray;
}

#kobe {
  display: flex;
  justify-content: center;
  align-items: center;
}

#soccer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 100px;
  top: 50px;
}

#logo {
  width: 30px;
  position: absolute;
  left: 210px;
	line-height: 150px;
	color: #000;
	text-align: center;
} 

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

.bounce { 
  animation-name: bounce; 
}

#funny {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* height: 1200px; */
}

/* #next {
  height: 150px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 60px;
  border: 0px;
  opacity: 50%;
  
} */

iframe {
  width: 400px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
}

.funnyClips {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /* object-fit: fill;   */
}