a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: row, column;
  margin: 0;
  height: 100vh;
  /* background-color: darkgray; */
  background-image: url('https://w.wallha.com/ws/6/T0HExfnY.jpg');
  background-size: cover;
  /* background-color: black; */
  color: white;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;

  /* background-image: linear-gradient(to top, #000000, #FF0021, #FFFFFF); */
}

#Clips {
  color: white;
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  font-family: Verdana;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 3px 5px 2px black;

}

img {
  width: 14px;
  
}

nav {
  display: flex;
  background-color: #ff0b2c;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  color: white;
  padding: 5px;
}

nav > a:hover {
  color: gray;
}

.kobe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#soccer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 100px;
  top: 50px;
}

#logo {
  width: 30px;
  position: absolute;
  left: 210px;
	line-height: 150px;
	color: #000;
	text-align: center;
} 

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

.bounce { 
  animation-name: bounce; 
}

#funny {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* height: 1200px; */
}

/* #next {
  height: 150px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 60px;
  border: 0px;
  opacity: 50%;
  
} */

/* iframe {
  width: 400px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
} */

.funnyClips {
  display: flex;
  flex-direction: row-reverse;
  overflow: scroll;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

/* .homeScroll {
  flex-direction: row;
  overflow: scroll;
  justify-content: space-around;
  margin: auto;
  display: flex;
  right: 50px;
} */

#submitBtn {
  border-radius: 15px;
  border: 3px solid black;
  border: 4px red;
  margin: auto;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 20px 20px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
}

#submitBtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #d22010;
} 

.paste {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 900;
}

.ySubmit {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.xButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: 0;
}

.viewComments {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 80px;
}
#menuToggle {
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 

}

#menuToggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  width: 100px;
  margin: 10px 0 0 10px;
  padding: 25px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(140%, 0);
  right: 10px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


