<%- include('../partials/header') %>

<div class="submitContainer">
  <h1>Submit YouTube Clip</h1>
  <form id="new-form" action="/clips" method="POST">
    <label>Inset Clip URL Bellow</label>
    <br>
    <input type="text" name="clipUrl" placeholder="Paste Clip URL Here..." pattern="http:|https:)?(\/\/)?(www\.)?(youtube.com|youtu.be)\/(watch|embed)?(\?v=|\/)?(\S+)?">
    <button id="submitBtn" type="submit">Submit</button>    
  </form>
</div>

<%- include('../partials/footer') %>